@import "base";

/* Base Application Styles */
body {
  position:relative;
  @include linear-gradient(60deg, darken(#6441A5, 20%), #6441A5);
  background-attachment: fixed;
  & > div{
    @include position(absolute, 0px 0px 0px 0px);
    padding:10px;
    margin:10px;
  }
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}