@import "base";

@include keyframes(spin){
	0%{
		@include transform(rotate(0deg));
	}
	100%{
		@include transform(rotate(360deg));
	}
}

.twitchvideo-component {
	a{
		color:$primary;
	}
	.stream-details{
		padding-bottom:10px;
		position:relative;
		@include clearfix();
		div.logo-holder{
			float:left;
			@include size(50px);
			background-size:cover;
			background-repeat:no-repeat;
			margin-right:10px;
			background-color:lighten($dark,60%);
		}
		h1{
			font-size:26px;
			font-weight:700;
			margin-bottom:6px;
			@include position(absolute, 0px auto auto 60px);
			height:28px;
			background-color:$light;
			width:600px;
			overflow:hidden;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			z-index:2;
			&:hover{
				height:56px;
				white-space: normal;
				text-overflow: inherit;
			}
		}
		h2{
			font-size:16px;
			color:lighten($dark, 30%);
			@include position(absolute, 32px auto auto 60px);
		}
		.header-group{
			float:left;
			width:100%;
			max-width:600px;
		}
		button{
			float:right;
			@extend %button;
			@extend %light-button;
			@extend %has-icon;
			position:relative;
			top:3px;
			&:hover{
				span:first-of-type{
					@include animation(spin 1s infinite linear);
				}
			}
		}
	}
  	.video-holder{
		display:block;
		background-size:auto 100%;
		background-position:center;
		background-repeat:no-repeat;
		background-color:#000;
		min-height:calc(100% - 110px);
		position:relative;
		iframe{
			@include position(absolute, 0px 0px 0px 0px);
			height:100%;
			width:100%;
		}
	}
	.video,
	.chat{
		background-color:$light;
	}
	.video{
		padding:20px;
		height:calc(100vh - 40px);
	}
	.chat{
		display:none;
		button{
			@extend %button;
			@extend %dark-button;
			@extend %has-icon;
			width:190px;
			background-size:100%;
			@extend %default-transition;
			&:hover{	
				background-size:200%;
				background-position:bottom;
			}
		}
	}
}

@media all and(min-width:800px){
	.twitchvideo-component{
		@include outer-container();
		.video{
			@include span-columns(9);
		}
		.chat{
			position:relative;
			@include span-columns(3);
			overflow-y:hidden;
			button{
				@include appearance(none);
				@include position(absolute, 23px auto auto 50%);
				@include transform(translateX(-50%));
			}
			iframe{
				width:100%;
				height:calc(100vh - 40px);
				position:relative;
				top:110px;
			}
		}
		.video,
		.chat iframe{
			max-height:800px;
		}
	}

	//LOGGEDIN
	.twitchvideo-component.authenticated{
		.chat{
			button{
				display:none;
			}
			iframe{
				top:0px;
			}
		}
	}
}

.video-details{
	margin:20px 0;
	@include clearfix();
	.follow,
	.unfollow{
		@extend %button;
		text-shadow:none;
		box-shadow:none;
		border:none;
		svg{
			@include size(13px);
		}
		svg use{
			fill:#fff;
		}
	}
	.follow{
		@extend %has-icon;
		color:#fff;
		background-color:$primary;
		font-size:12px;
	}
	.unfollow{
		background-color:#00AE20;
		display:none;
		@include size(30px);
		svg{
			@extend %absolute-middle;
		}
	}
	.actions > li,
	.stats > li{
		display:inline-block;
	}

	.drop-down{
		display:none;
	}
	.actions{
		float:left;
	}
	.stats{
		float:right;
	}
	.actions{
		label{
			margin:0 20px;
			color:$primary;
			font-size:13px;
			position:relative;
			display:inline-block;
			cursor:pointer;
			&:after{
				@extend %psuedo-content;
				@include triangle(10px, lighten($dark,50%), down);
				@include position(absolute, 63% -15px auto auto);
				@include transform(translateY(-50%));
			}
		}
	}
	.stats{
		font-size:15px;
		li{
			margin-left:10px;
		}
		svg{
			margin:0 5px;
			@include size(14px);
			use{
				fill:lighten($dark,50%);
			}
		}
	}
}

.no-touch .video-details{
	.follow,
	.unfollow{
		@extend %default-transition;
	}
	.follow:hover{
		background-color:lighten($primary,10%);
	}
	.unfollow{
		position:relative;
		&:before{
			content:" ";
			display:block;
			height:2px;
			width:50%;
			background-color:#fff;
			border:1px solid #d44949;
			@extend %default-transition;
			@extend %absolute-middle;
			z-index:2;
			@include opacity(0);
		}
		&:hover{
			background-color:#d44949;
			&:before{
				@include opacity(1);
			}
		}
	}
}